.ActionsMenu__header {
    background-color: #CCE6E2;
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    position:relative;
}

.ActionsMenu__header-heading {
    font-size: inherit;
    font-weight: bold;
    grid-column-end: 2;
    grid-column-start: 1;
    margin: auto;
}

.ActionsMenu__menu {
    background-color: #ffffff;
    border: 3px solid #D5D8DD;
    box-shadow: 0px 1px 8px #22262A;
    border-radius: 3px;
    left: 8rem;
    overflow: visible;
    position: absolute;
    top: -0.3rem;
    width: 12rem;
    z-index: 4;
}

.focus-escape-ActionsMenu {
    position: fixed;
    margin: -10rem;
    width: 150%;
    height: 100%;
    z-index: 3;
}