@import './variables';

.ActionsMenu__toggle-button {
    align-self: center;
    grid-column-end: 4;
    grid-column-start: 3;
    justify-self: center;
    width: 1.4em;
    padding: 0.2rem;
    border-radius: 5px;
   
    &:focus {
        box-shadow:
            0 0 0 0.1rem black;
        outline: none;
    }

    svg {
        height: 0.75rem;
    }
}

