@import 'variables';

body {
    background-color: #FFF;
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: manipulation;
    user-select: none;
}

.App__container {
    background-color: #FFF;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr min-content minmax(auto, calc(#{$c2lc-scene-border-width} + #{$c2lc-scene-border-width} + #{$c2lc-scene-row-header-width} + #{$c2lc-scene-width} + #{$c2lc-scene-space-for-scrollbar} + #{$c2lc-app-scene-container-margin-right})) min-content 1fr;
    grid-template-rows: auto auto 1fr 4.5rem;
    row-gap: 0.25rem;
    height: 100vh;
    // On mobile Safari, limit the height of the App to the browser content
    // area. See:
    // https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/
    max-height: -webkit-fill-available;
}

.App__header {
    background-color: #FFF;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0.5rem 0.25rem 0.5rem 0.5rem;
}

.App__header-row {
    display: flex;
    flex-direction: column;
}

.App__header-menu {
    // Uncomment background-color and border radius later when we change all the setting
    // menu items as buttons
    // background-color: #CCE6E2;
    // border-radius: 3px;
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
    column-gap: 0.5rem;
    padding: 0.5rem 0;
}

.App__header-audio-toggle {
    display: flex;
    align-self: center;
    margin: 0 1rem;
    margin-bottom: 0.5rem;
}

.App__app-heading {
    text-align: center;
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1rem 1rem;
    padding: 0 1rem;
}

.App__app-heading > a {
    color: black;
    &:hover {
        text-decoration: none;
    }
}

/* Dash connection removed for version 0.5
.App__audio-toggle-switch {
    margin-right: 1.5rem;
}
*/

.App__bluetooth-api-warning-section {
    margin-top: 1.5rem;
}

.App__scene-container {
    position: relative;
    margin-top: 0.25rem;
    margin-right: $c2lc-app-scene-container-margin-right;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    min-height: 12rem;
    min-width: 19.5rem; 
}

.App__PenDownToggleSwitch-container {
    margin: 1rem auto;
}

.App__world-container {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    grid-template-rows: 1fr min-content min-content;
    background-color: #CCE6E2;
}

.App__world-selector {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-bottom: 1px solid #88C3BC;
}

.App__ActionsMenu__header {
    background-color: #CCE6E2;
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    position:relative;
}

.App__ActionsMenu__header-heading {
    font-size: inherit;
    font-weight: bold;
    grid-column-end: 2;
    grid-column-start: 1;
    margin: auto;
}

.App__ActionsMenu__toggle-button {
    align-self: center;
    grid-column-end: 4;
    grid-column-start: 3;
    justify-self: center;
    width: 1.4em;
    padding: 0.2rem;
    border-radius: 5px;
   
    &:focus {
        box-shadow:
            0 0 0 0.1rem black;
        outline: none;
    }

    svg {
        height: 0.75rem;
    }
}

.App__command-palette {
    background-color: #CCE6E2;
    border: 2px solid #CCE6E2;
    border-radius: 0.2rem;
    text-align: center;
    margin: 0 0.25rem 0 0.5rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: min-content min-content auto;
}

.App__command-palette-command-container {
    background-color: #30444E;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 1rem;
}

.App__command-palette-commands {
    width: 6rem;
    display: grid;
    height: auto;
    grid-template-rows: repeat(3, min-content);
    grid-column-gap: 1rem;
    grid-auto-flow: column;
    margin: 0 auto;
}

.App__command-palette-commands > button,
.App__command-palette-commands > div {
    margin-bottom: 1rem;
}

.App__program-block-editor {
    margin-right: 0.5rem;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    height: auto;
}

.App__playAndShare-background {
    background-color: #67717E;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    box-shadow: inset 0px 7px 3px -3px rgba(0, 0, 0, 0.25);
}

.App__playAndShare-container {
    padding: 0 1rem;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.App__playControl-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto 0;
}

.App__playButton-container {
    display: flex;
    gap: 0.5rem;
}

.App__playControlButton {
    margin-right: 1.5rem;
    &.StopButton {
        margin-right: 1.9rem;
    }
}


.App__shareButton-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .App__command-palette-commands {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .App__playAndShare-container {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-height: 800px) {
    .WorldSelector {
        height: calc(80vh - 19rem);
    }
}

// For iPad landscape orientation
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .WorldSelector {
        height: calc(80vh - 21rem);
    }
}

@media only screen and (max-width: 414px) {
    body {
        overflow: scroll;
    }
}
