.App__container--customBackgroundDesignMode {
    grid-template-rows: auto auto auto;
    height: inherit;
    max-height: 100vh;
}

.App__container--customBackgroundDesignMode .Scene__container {
    height: inherit;
}
