@import 'variables';

.AudioFeedbackToggleSwitch {
    background-color: #B9BEC6;
    max-height: 2.6rem;
    width: 4.5rem;

    &:focus {
        box-shadow: 0 0 0 $c2lc-focus-indicator-width black;
    }

    .ToggleSwitch__switch-inner-circle {
        background-color: white;
        margin-bottom: 0.2rem;
        margin-top: 0;

        svg {
            path {
                fill: #6e6e6e;
                stroke: none;
            }
        }
    }

    &.ToggleSwitch--checked {
        background-color: #4C9990;

        .ToggleSwitch__switch-inner-circle {
            svg {
                path {
                    fill: black;
                }
            }
        }
    }
}