@import 'variables';

.Character__icon-background-Sketchpad {
    fill: #4C9990;
    stroke: none;
}

.Character__icon-background-Space {
    fill: #1B2432;
    stroke: none;
}

.Character__icon-background-Jungle {
    fill: #FFE5B4;
    stroke: none;
}

.Character__icon-background-DeepOcean {
    fill: #003C50;
    stroke: none;
}

