@import 'variables';

.CookieNotification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap: 1rem;
    background-color: #88C3BC;
}

.CookieNotification__message {
    color: #1E1E1E;
    font-size: 1rem;
    font-weight: 500;
    max-width: 40em;
}

.CookieNotification__button {
    border: 0;
    border-radius: 0.2rem;
    padding: 0.25rem;
    background-color: #30444E;
    color: #FFFFFF;
    font-weight: 400;
    min-width: 7em;
    outline: 0;

    &:hover {
        background-color: #F5C58A;
        color: #505862;
    }

    &:active {
        background-color: #ED972C;
        color: #505862;
    }

    &:focus {
        box-shadow:
            0 0 0 1px #88C3BC,
            0 0 0 $c2lc-focus-indicator-width #30444E;
    }
}

.CookieNotification__button--margin-left {
    margin-left: 1rem;
}

