@import 'variables';

.CustomBackgroundEditModeToggleSwitch {
    background-color: #B9BEC6;
    .ToggleSwitch__switch-inner-circle {
        background-color: white;
        svg {
            stroke-width: inherit;
        }
    }

    .CustomBackgroundEditModeToggleSwitchIcon__squares {
        fill: #6e6e6e;
    }
    .CustomBackgroundEditModeToggleSwitchIcon__brush {
        stroke: #6e6e6e;
    }

    &.ToggleSwitch--checked {
        background-color: #4C9990;
        .CustomBackgroundEditModeToggleSwitchIcon__squares {
            fill: #1e1e1e;
        }
        .CustomBackgroundEditModeToggleSwitchIcon__brush {
            stroke: #1e1e1e;
        }
    }

    &.ToggleSwitch:active {
        background-color: #ED972C;
    }

    &:focus {
        box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
    }
}
