.Scene__custom-wall {
    fill: #F5C58A;
}

.Scene__custom-white {
    fill: #FFFFFF;
}

.Scene__custom-black {
    fill: #1E1E1E;
}

.Scene__custom-grey {
    fill: #C4C4C4;
}

.Scene__custom-dark-blue {
    fill: #416CA7;
}

.Scene__custom-light-blue {
    fill: #5CBCD1;
}

.Scene__custom-green {
    fill: #52BD76;
}

.Scene__custom-yellow {
    fill: #F1D05B;
}

.Scene__custom-orange {
    fill: #FF9900;
}

.Scene__custom-red {
    fill: #F75322;
}

.Scene__custom-pink {
    fill: #F387C8;
}

.Scene__custom-purple {
    fill: #AA70C7;
}

.Scene__custom-brown {
    fill: #775034
}
