@import '_variables';

.KeyboardInputModal {
    border-radius: 0.25rem;
    max-width: 75%;
}

.KeyboardInputModal__content {
    align-items: center;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
}

.KeyboardInputModal__content__toggle.ToggleSwitch--checked {
    background-color: #4C9990;
}

.KeyboardInputModal__content__list {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .KeyboardInputModal__content__list {
        display: flex;
        flex-direction: column;
        column-gap: 0;
    }
}

.KeyboardInputModal__content__list--disabled {
    display: none;
}

.KeyboardInputModal__binding {
    display: grid;
    grid-template-columns: 6rem auto;
    column-gap: 1rem;
    row-gap: 1rem;
}

.KeyboardInputModal__binding__keyCombo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.KeyboardInputModal__binding__icon {
    border: 1px solid black;
    background-color: #aaa;
    border-radius: 3px;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
}

button.btn.KeyboardInputModal__content__closeButton {
    align-self: flex-end;
    background-color: #4C9990;
    border: 0;
    color: #EBFAF8;
    padding: 0.2rem;
    width: 10rem;

    &:active {
        background-color: #ED972C;
    }

    &:focus {
        box-shadow:
            0 0 0 0.1rem #D5D8DD,
            0 0 0 $c2lc-focus-indicator-width black;
    }

    &:hover {
        background-color: #F5C58A;
        color: black;
    }          
}