@import '_variables';

.modal {
    border-radius: 0.25rem;
}

.modal-body {
    border-radius: 0.25rem;
    padding: 0;
}

.KeyboardInputModal {
    max-width: 75%;
}

.KeyboardInputModal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
}

.KeyboardInputModal__content__title {
    background-color: #F1F2F4;
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    height: 5rem;

    svg {
        width: 2rem;
    }
}

.KeyboardInputModal__content__toggleBar {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin-left: 3rem;
}

.KeyboardInputModal__content__toggleBar__label {
    font-weight: bold;
}

.KeyboardInputModal__content__toggleBar__toggle {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.KeyboardInputModal__content__toggle.ToggleSwitch {
    .ToggleSwitch__switch-inner-circle {
        height: 1.9rem;
        width: 1.9rem;
        margin-bottom: inherit;
        margin-top: inherit;
    }
}

.KeyboardInputModal__content__toggle.ToggleSwitch--checked {
    background-color: #4C9990;
}

.KeyboardInputModal__content__schemeDropdown {
    margin-bottom: 0.5rem;
    margin-left: 3rem;
    max-width: 20rem;
    padding: 0.25rem;
}

.KeyboardInputModal__content__list {
    background-color: #F1F2F4;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .KeyboardInputModal__content__list {
        display: flex;
        flex-direction: column;
        column-gap: 0;
    }
}

.KeyboardInputModal__content__list--disabled {
    display: none;
}

.KeyboardInputModal__binding {
    display: grid;
    grid-template-columns: 7.5rem auto;
    align-items: flex-start;
    column-gap: 1rem;
    row-gap: 1rem;
}

.KeyboardInputModal__binding__keyCombo {
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 0;
}

.KeyboardInputModal__binding__icon {
    border: 2px solid #B9BEC6;    
    background-color: white;    
    border-radius: 3px;    
    box-shadow: 0 3px 1px 0 #B9BEC6;    
    font-weight: bold;    
    height: 2.5rem;
    width: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.KeyboardInputModal__content__footer {
    align-items: center;
    background-color: white;
    border-radius: 0 0 0.25rem 0.25rem;
    column-gap: 2.5rem;
    display:flex;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    width: 100%;
}

button.btn.KeyboardInputModal__content__cancelButton,
button.btn.KeyboardInputModal__content__doneButton {
    border: 0;
    padding: 0.2rem;
    width: 10rem;

    &:active {
        background-color: #ED972C;
    }

    &:hover {
        background-color: #F5C58A;
        color: black;
    }     

    &:focus {
        box-shadow:
            0 0 0 0.1rem #D5D8DD,
            0 0 0 $c2lc-focus-indicator-width black;
    }
}

button.KeyboardInputModal__content__cancelButton {
    margin-left: auto;
    background-color: #F1F2F4;
}

button.btn.KeyboardInputModal__content__doneButton {
    background-color: #4C9990;
    color: #EBFAF8;     
}