@import 'variables';

.ModalFooter {
    display: flex;
    column-gap: 1rem;
    padding: 1.5rem 1rem 1.5rem 0;
    justify-content: flex-end;
}

button.btn.ModalFooter__cancelButton,
button.btn.ModalFooter__doneButton {
    border: 0;
    padding: 0.2rem;
    width: 8rem;

    &:active {
        background-color: #ED972C;
    }

    &:hover {
        background-color: #F5C58A;
        color: black;
    }

    &:focus {
        box-shadow:
            0 0 0 0.1rem #D5D8DD,
            0 0 0 $c2lc-focus-indicator-width black;
    }
}

button.btn.ModalFooter__cancelButton {
    margin-left: auto;
    background-color: #F1F2F4;
}

button.btn.ModalFooter__doneButton {
    background-color: #4C9990;
    color: #EBFAF8;
}
