@import 'variables';

.RefreshButton-svg {
    width: 1.4rem;
    height: 1.4rem;
}

.RefreshButton svg path {
    fill: black;
    stroke: none;
}

.RefreshButton--disabled svg {
    stroke: $c2lc-disabled-foreground-color;
}
