@import 'variables';

.RefreshButton-svg {
    width: 1.7rem;
    height: 1.7rem;
}

.RefreshButton svg path {
    fill: black;
    stroke: none;
}

.RefreshButton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    padding-top: 0.05rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: auto 0;
    margin-right: 0.5rem;

    svg path {
        path {
            fill: black;
        }
        path.inner-circle {
            fill: #EA7362;
        }
    }

    &:active {
        background-color: #ED972C;
    }

    &:focus {
        box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
    }
}

.RefreshButton.RefreshButton--disabled,
.RefreshButton.RefreshButton--disabled:hover,
.RefreshButton.RefreshButton--disabled:active {
    cursor: default;
}

.RefreshButton--disabled svg {
    stroke: $c2lc-disabled-foreground-color;        

    circle {
        stroke: none;
        fill: #67717E;
    }

    path.inner-circle {
        fill: #B9BEC6;
    }
}

.RefreshButton:hover {
    svg path.inner-circle {
        fill: #F1AE5B;
    }
}

.RefreshButton:hover:not(:focus) {
    box-shadow: none;
}

.RefreshButton--disabled svg {
    stroke: $c2lc-disabled-foreground-color;
}
