@import 'variables';

// Grid for Scene-container is set in App.scss
.Scene__container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px auto;
    background-color: #CCE6E2;
    border: 2px solid #CCE6E2;
    border-radius: 3px;
}

.Scene {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: scroll;
    background-color: #FFF;
    display: inline-block;
    box-sizing: border-box;
}

.Scene > svg {
    width: $c2lc-scene-width;
}

.Scene__row-header {
    overflow: scroll;
    fill: #CCE6E2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    pointer-events: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Scene__row-header > svg {
    width: 30px;
    height: $c2lc-scene-height
}

.Scene__row-header::-webkit-scrollbar {
    display: none;
}

.Scene__column-header {
    fill: #CCE6E2;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow-y: hidden;
    overflow-x: scroll;
    pointer-events: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.Scene__column-header::-webkit-scrollbar {
    display: none;
}

.Scene__column-header > svg {
    height: 30px;
    width: $c2lc-scene-width;
}

.Scene__grid-line {
    stroke: #F1F2F4;
    stroke-width: 0.02;
}

.Scene__grid-label {
    fill: #555;
    font: 600 1.8px sans-serif;
}

.Scene__path-line {
    stroke-width: 0.05;
    stroke-linecap: round;
    stroke: #505862;
}
