.ShareCompleteModal {
    border-radius: 0.25rem;
}

.ShareCompleteModal.modal-dialog {
    max-width: 550px;
}

.ShareCompleteModal__content,.ShareCompleteModal .modal-content {
    background-color: yellow;
    margin: 0 auto;
}

.ShareCompleteModal__content.modal-body {
    padding: 1rem;
}