.ShareCompleteModal {
    border-radius: 0.25rem;
    background-color: yellow;
}

.ShareCompleteModal__content {
    border-radius: 0.25rem;
    background-color: yellow;
}

.ShareCompleteModal__footer {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-end;
    background-color: yellow;
}

.ShareCompleteModal__footer button {
    margin-left: auto;
    background-color: black;
    color: white;
}