@import '_variables';

button.btn.ShareButton {
    background-color: #CCE6E2;
    border: 0;
    color: #1E1E1E;
    padding: 0.2rem;
    width: 10rem;

    &:active {
        background-color: #ED972C;
    }

    &:focus {
        box-shadow:
            0 0 0 0.1rem #30444E,
            0 0 0 $c2lc-focus-indicator-width #FFFFFF;
    }

    &:hover {
        background-color: #F5C58A;
        color: #1E1E1E;
    }
}
