@import 'variables';

.StopButton-svg {
    width: 1.7rem;
    height: 1.7rem;
}

button.btn.StopButton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    padding-top: 0.05rem;
    width: 2.2rem;
    height: 2.2rem;
    margin: auto 0;

    svg circle {
        fill: black
    }
}

button.btn.StopButton:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}

button.btn.StopButton:hover {
    svg path {
        fill: #F1AE5B;
    }
}

button.btn.StopButton.StopButton--disabled {
    background-color: inherit;
    cursor: default;

    svg {
        circle {
            fill: #67717E;
        }

        path.inner-circle {
            fill: #B9BEC6;
        }
    }
}

button.btn.StopButton.StopButton--disabled:active:focus {
    background-color: $c2lc-primary-button-color;
    box-shadow: 0 0 0 $c2lc-focus-indicator-width $c2lc-focus-indicator-color;
}
