@import 'variables';

.StopButton-svg {
    width: 2.6rem;
    height: 2.6rem;
}

.StopButton svg circle {
    fill: black
}

.StopButton.StopButton--disabled svg {
    padding-top: 0.1rem;
    circle {
        fill: #67717E;
    }

    path.inner-circle {
        fill: #B9BEC6;
    }
}
