@import 'variables';

.ThemeSelector__option {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 0.5rem;
    padding: 1.4rem 1.5rem;
    font-weight: 500;
    font-size: 18px;
    color: #1E1E1E;
    align-items: center;
    label {
        margin-bottom: 0;
    }
}

.ThemeSelector__option.light {
    background-color: #EBFAF8;
}

.ThemeSelector__option.dark {
    background-color: #30444E;
    color: #FFF;
}

.ThemeSelector__option.grayscale {
    background-color: #D5D8DD;
}

.ThemeSelector__option.contrast {
    background-color: #1E1E1E;
    color: #FFF;
}