@import 'variables';

.WorldSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CCE6E2;
    padding: 1rem;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-y: auto;
    min-height: 5rem;
    height: calc(80vh - 20rem);
    // max-height = 3.5 (icon height) * 3 + 0.8 (margin top) * 2 + 1 (padding top/bottom)  * 2
    max-height: 14.1rem;
}

.WorldSelector .HeaderIcon, .WorldSelector .WorldIcon {
    display: block;
    min-height: 3.5rem;
    width: 3.5rem;
    padding: 0.2rem;
}

.WorldSelector .HeaderIcon {
    background: none;
}

.WorldSelector .WorldIcon {
    box-shadow: inset 0 .1rem .2rem rgba(0, 0, 0, 0.25);
    background-color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 5px;

    // TODO: Move this out of the conditional block once the header icon is reenabled.
    &:not(:first-of-type) {
        margin-top: 0.8rem;
    }
}

.WorldSelector .WorldIcon svg {
    width: 2rem;
    height: 2rem;
}

.WorldSelector button.btn.WorldIcon--disabled,
.WorldSelector button.btn.WorldIcon--disabled:active {
    background-color: #B9BEC6;
    cursor: default;
    box-shadow: unset;
}

.WorldSelector .WorldIcon--disabled svg {
    opacity: 0.5;
}

.WorldSelector button.btn.WorldIcon--disabled:hover {
    padding: 0;
}

.WorldSelector .WorldIcon--selected {
    background-color: #4C9990;
}

.WorldSelector button.btn.WorldIcon:focus {
    box-shadow: 0 0 0 $c2lc-focus-indicator-width black;
}

.WorldSelector button.btn:not(.WorldIcon--disabled):hover {
    background-color: #F1AE5B;
    padding-top: 0.25rem;
    padding-left: 0.2rem;
}

.WorldSelector .btn-primary:not(.WorldIcon--disabled):not(.WorldIcon--disabled):active {
    background-color: #F1AE5B;
}
