/* Amusement Park */

.ProgramBlockEditor__character-column-character-container--AmusementPark {
    background-color: #F9F2EC;
}

.Scene__grid-line--AmusementPark {
    stroke: #88C3BC;
}

.Scene__path-line--AmusementPark {
    stroke: #FFFFFF;
}

.WorldSelector__option-image--AmusementPark:hover {
    svg {
        .thumbnail-background {
            fill: #70862E;
        }
        .thumbnail-entrance-door {
            fill: #F5C58A;
        }
        .thumbnail-entrance-door-shadow {
            fill: #ED972C;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--AmusementPark {
        background-color: #F1F2F4;
    }

    .Scene__grid-line--AmusementPark {
        stroke: #B9BEC6;
    }

    .Scene__path-line--AmusementPark {
        stroke: #505862;
    }

    .WorldSelector__option-image--AmusementPark:hover {
        svg {
            .thumbnail-background {
                fill: #D5D8DD;
            }
            .thumbnail-entrance-door-shadow {
                fill: #3A3F46;
            }
            .thumbnail-dark-grey {
                fill: #67717E;
            }
            .thumbnail-light-grey {
                fill: #818A98;
            }
            .thumbnail-ticket {
                fill: #B9BEC6;
            }
            .thumbnial-ticket-outline {
                fill: #3A3F46;
                stroke: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--AmusementPark {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--AmusementPark {
        stroke:#0078FF;
    }

    .Scene__path-line--AmusementPark {
        stroke:#FF0000;
    }

    .WorldSelector__option-image--AmusementPark:hover {
        svg {
            .thumbnail-background {
                fill: #000000;
            }
            .thumbnail-entrance-door {
                fill: #000000;
                stroke: #FFFFFF;
            }
            .thumbnail-entrance-door-shadow {
                fill: #000000;
            }
            .thumbnail-entrance-roof {
                fill: #FFFFFF;
                stroke: #000000;
            }
            .thumbnail-ticket {
                fill: #FFFFFF;
            }
            .thumbnail-ticket-design {
                fill: #000000;
            }
            .thumbnail-ticket-outline {
                stroke: #000000;
            }
        }
    }
}

/* Atlantic Canada */

.ProgramBlockEditor__character-column-character-container--AtlanticCanada {
    background-color: #2D849F;
}

.Scene__grid-line--AtlanticCanada {
    stroke: #567F88;
}

.Scene__path-line--AtlanticCanada {
    stroke: #E5AF5E;
}

.WorldSelector__option-image--AtlanticCanada:hover {
    svg {
        .thumbnail-background {
            fill: #2D3D53;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--AtlanticCanada {
        background-color: #B9BEC6;
    }

    .Scene__grid-line--AtlanticCanada {
        stroke: #B9BEC6;
    }

    .Scene__path-line--AtlanticCanada {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--AtlanticCanada:hover {
        svg {
            .thumbnail-background {
                fill: #818A98;
            }
            .thumbnail-boat-top {
                fill: #505862;
            }
            .thumbnail-stop-color {
                stop-color: #D1D1D1;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--AtlanticCanada {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--AtlanticCanada {
        stroke: #0078FF;
    }

    .Scene__path-line--AtlanticCanada {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--AtlanticCanada:hover {
        svg {
            .thumbnail-background {
                fill: #000000;
            }
            .thumbnail-boat-black {
                fill: #FFFFFF;
            }
            .thumbnail-boat-deck {
                fill: #000000;
                stroke: #FFFFFF;
            }
            .thumbnail-boat-white {
                fill: #000000;
            }
            .thumbnail-iceberg {
                fill: #000000;
            }
            .thumbnail-stop-color {
                stop-color: #FFFFFF;
            }
            .thumbnail-stroke-white {
                stroke: #000000;
            }
            .thumbnail-stroke-black {
                stroke: #FFFFFF;
            }
        }
    }
}

/* Camping */

.ProgramBlockEditor__character-column-character-container--Camping {
    background-color: #A3BA8B;
}

.Scene__grid-line--Camping {
    stroke: #8F8F8F;
}

.Scene__path-line--Camping {
    stroke: #FFC700;
}

.WorldSelector__option-image--Camping:hover {
    svg {
        .thumbnail-background {
            fill: #67804C;
        }
        .thumbnail-fur-light {
            fill: #714503;
        }
        .thumbnail-fur-dark {
            fill: #3A2402;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Camping {
        background-color: #D3D3D3;
    }

    .Scene__grid-line--Camping {
        stroke: #8F8F8F;
    }

    .Scene__path-line--Camping {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--Camping:hover {
        svg {
            .thumbnail-background {
                fill: #8F8F8F;
            }
            .thumbnail-fur-light {
                fill: #605F5F;
            }
            .thumbnail-fur-dark {
                fill: #0F0F0F;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Camping {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Camping {
        stroke: #0078FF;
    }

    .Scene__path-line--Camping {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Camping:hover {
        svg {
            .thumbnail-background {
                fill: #000000;
            }
            .thumbnail-fur-light {
                fill: #000000;
                stroke: #FFFFFF;
            }
            .thumbnail-fur-dark {
                fill: #FFFFFF;
            }
        }
    }
}

/* DeepOcean */

.ProgramBlockEditor__character-column-character-container--DeepOcean {
    background-color: #1B2432;
}

.Scene__grid-line--DeepOcean {
    stroke: #8BA2C0;
}

.Scene__path-line--DeepOcean {
    stroke: #FFFFFF;
}

.WorldSelector__option-image--DeepOcean:hover {
    svg {
        .thumbnail-background {
            fill: #33717F;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--DeepOcean {
        background-color: #67717E;
    }

    .Scene__grid-line--DeepOcean {
        stroke: #FFFFFF;
    }

    .Scene__path-line--DeepOcean {
        stroke: #505862;
    }

    .WorldSelector__option-image--DeepOcean:hover {
        svg {
            .thumbnail-background {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--DeepOcean {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--DeepOcean {
        stroke: #0078FF;
    }

    .Scene__path-line--DeepOcean {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--DeepOcean:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }

            .thumbnail-character-innerline-white {
                fill: #1E1E1E;
            }

            .thumbnail-character-innerline-black {
                fill: #FFFFFF;
            }
        }
    }
}

/* Europe Trip */

.ProgramBlockEditor__character-column-character-container--EuropeTrip {
    background-color: #FFFFFF;
}

.Scene__grid-line--EuropeTrip {
    stroke: #EBFAF8;
}

.Scene__path-line--EuropeTrip {
    stroke: #FFFFFF;
}

.WorldSelector__option-image--EuropeTrip:hover {
    svg {
        .thumbnail-background {
            fill: #73A9B0;
        }
        .thumbnail-land {
            fill: #537672;
        }
        .thumbnail-plane-fuselage {
            fill: #FFBA27;
        }
        .thumbnail-plane-fuselage-shadow {
            fill: #D37D12;
        }
        .thumbnail-plane-front {
            fill: #C13925;
        }
        .thumbnail-plane-tail {
            fill: #C13925;
        }
        .thumbnail-plane-wings {
            fill: #30444E;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--EuropeTrip {
        background-color: #3A3F46;
    }

    .Scene__grid-line--EuropeTrip {
        stroke: #818A98;
    }

    .Scene__path-line--EuropeTrip {
        stroke: #3A3F46;
    }

    .WorldSelector__option-image--EuropeTrip:hover {
        svg {
            .thumbnail-background {
                fill: #B9BEC6;
            }
            .thumbnail-land {
                fill: #9DA4AF;
            }
            .thumbnail-plane-fuselage {
                fill: #818A98;
            }
            .thumbnail-plane-fuselage-shadow {
                fill: #67717E;
            }
            .thumbnail-plane-front {
                fill: #505862;
            }
            .thumbnail-plane-tail {
                fill: #505862;
            }
            .thumbnail-plane-wings {
                fill: #3A3F46;
            }
            .thumbnail-plane-windows {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--EuropeTrip {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--EuropeTrip {
        stroke: #0078FF;
    }

    .Scene__path-line--EuropeTrip {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--EuropeTrip:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }
            .thumbnail-land {
                fill: inherit;
                stroke: #FFFFFF;
            }
            .thumbnail-plane-outline {
                fill: #FFFFFF;
                stroke: #1E1E1E;
            }
            .thumbnail-plane-fill {
                fill: #FFFFFF;
            }
            .thumbnail-plane-front-window {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-plane-side-windows {
                fill: #1E1E1E;
            }
        }
    }
}

/* Grocery Store */

.ProgramBlockEditor__character-column-character-container--GroceryStore {
    background-color: #FFFFFF;
}

.Scene__grid-line--GroceryStore {
    stroke: #B7804A;
}

.Scene__path-line--GroceryStore {
    stroke: #FFFFFF;
}

.WorldSelector__option-image--GroceryStore:hover {
    svg {
        .thumbnail-background {
            fill: #F5C58A;
        }
        .thumbnail-sack {
            fill: #ED972C;
        }
        .thumbnail-watermelon {
            fill: #4C9990;
        }
        .thumbnail-bananas {
            fill: #FFE587;
        }
        .thumbnail-bottle {
            fill: #4C9990;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--GroceryStore {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--GroceryStore {
        stroke: #B9BEC6;
    }

    .Scene__path-line--GroceryStore {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--GroceryStore:hover {
        svg {
            .thumbnail-background {
                fill: #9DA4AF;
            }
            .thumbnail-sack {
                fill: #505862;
            }
            .thumbnail-watermelon {
                fill: #67717E;
            }
            .thumbnail-bottle {
                fill: #818A98;
            }
            .thumbnail-cart {
                fill: #67717E;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--GroceryStore {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--GroceryStore {
        stroke: #0078FF;
    }

    .Scene__path-line--GroceryStore {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--GroceryStore:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }
            .thumbnail-foreground {
                fill: #FFFFFF;
            }
            .thumbnail-contrast-detail {
                fill: #1E1E1E;
            }
            .thumbnail-watermelon-flesh {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-watermelon-seed {
                stroke: #FFFFFF;
            }
        }
    }
}

/* Haunted House */

.ProgramBlockEditor__character-column-character-container--Haunted {
    background-color: #454675;
}

.Scene__grid-line--Haunted {
    stroke: #5F607B;
}

.Scene__path-line--Haunted {
    stroke: #FFC700;
}

.WorldSelector__option-image--Haunted:hover {
    svg {
        .thumbnail-background {
            fill: #454675;
        }
        .thumbnail-light {
            fill: #E2C068;
        }
        .thumbnail-dimlight {
            fill: #CA9A68;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Haunted {
        background-color: #D3D3D3;
    }

    .Scene__grid-line--Haunted {
        stroke: #7B7B7B;
    }

    .Scene__path-line--Haunted {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--Haunted:hover {
        svg {
            .thumbnail-background {
                fill: #343434;
            }
            .thumbnail-light {
                fill: #CFCFCF
            }
            .thumbnail-dimlight {
                fill: #ABABAB;
            }
            .thumbnail-candle {
                fill: #7D7D7D;
            }
            .thumbnail-hand {
                fill: #7E7E7E;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Haunted {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Haunted {
        stroke: #0078FF;
    }

    .Scene__path-line--Haunted {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Haunted:hover {
        svg {
            .thumbnail-light {
                fill: black;
            }
            .thumbnail-dark {
                fill: white;
            }
            .thumbnail-outline {
                stroke: white;
            }
            .thumbnail-light-outline {
                fill: black;
                stroke: white;
            }
        }
    }
}

/* Landmarks */

.ProgramBlockEditor__character-column-character-container--Landmarks {
    background-color: #FFE5B4;
}

.Scene__grid-line--Landmarks {
    stroke: #F9F2EC;
}

.Scene__path-line--Landmarks {
    stroke: #784234;
}

.WorldSelector__option-image--Landmarks:hover {
    svg {
        .thumbnail-background {
            fill: #BCA490;
        }
        .thumbnail-background-item-2 {
            fill: #CEAF95
        }
        .thumbnail-background-item {
            fill: #9C7D63;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Landmarks {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Landmarks {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Landmarks {
        stroke: #505862;
    }

    .WorldSelector__option-image--Landmarks:hover {
        svg {
            .thumbnail-background {
                fill: #9DA0A6;
            }
            .thumbnail-background-item-2 {
                fill: #828892
            }
            .thumbnail-background-item {
                fill: #656B72;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Landmarks {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Landmarks {
        stroke: #0078FF;
    }

    .Scene__path-line--Landmarks {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Landmarks:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }
            .thumbnail-background-item {
                fill: #FFFFFF;
            }
            .thumbnail-character-body {
                fill: #FFFFFF;
            }
            .thumbnail-character-eye {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-character-eye-pupil {
                fill: #FFFFFF;
            }
            .thumbnail-character-outline {
                fill: #1E1E1E;
            }
            .thumbnail-character-stripe {
                fill: #1E1E1E;
            }
            .thumbnail-character-wing {
                fill: #FFFFFF;
            }
        }
    }
}

/* Marble */

.ProgramBlockEditor__character-column-character-container--Marble {
    background-color: #EBFAF8;
}

.Scene__grid-line--Marble {
    stroke: #F9F2EC;
}

.Scene__path-line--Marble {
    stroke: #3F5574;
}

.WorldSelector__option-image--Marble:hover {
    svg {
        .thumbnail-background {
            fill: #89D3BD;
        }
        .thumbnail-top {
            fill: #ED972C
        }
        .thumbnail-bottom {
            fill: #4C9990;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Marble {
        background-color: #67717E;
    }

    .Scene__grid-line--Marble {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Marble {
        stroke: #22262A;
    }

    .WorldSelector__option-image--Marble:hover {
        svg {
            .thumbnail-background {
                fill: #67717E;
            }
            .thumbnail-edge {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Marble {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Marble {
        stroke: #0078FF;
    }

    .Scene__path-line--Marble {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Marble:hover {
        svg {
            .thumbnail-dark {
                fill: #FFFFFF;
            }
            .thumbnail-light {
                fill: #1E1E1E;
            }
        }
    }
}

/* Music Band */

.ProgramBlockEditor__character-column-character-container--MusicBand {
    background-color: #FBE6CD;
}

.Scene__grid-line--MusicBand {
    stroke: #567F88;
}

.Scene__path-line--MusicBand {
    stroke: #E5AF5E;
}

.WorldSelector__option-image--MusicBand:hover {
    svg {
        .thumbnail-background {
            fill: #73A9B0;
        }
        .thumbnail-purple {
            fill: #AA6F9C;
        }
        .thumbnail-red {
            fill: #EA7362;
        }
        .thumbnail-yellow {
            fill: #F1AE5B;
        }
        .thumbnail-green {
            fill: #4C9990;
        }
        .thumbnail-blue {
            fill: #516D95;
        }
        .thumbnail-note {
            fill: #0B0F14;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--MusicBand {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--MusicBand {
        stroke: #7F8898;
    }

    .Scene__path-line--MusicBand {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--MusicBand:hover {
        svg {
            .thumbnail-background {
                fill: #B9BEC6;
            }
            .thumbnail-purple {
                fill: #67717E;
            }
            .thumbnail-red {
                fill: #818A98;
            }
            .thumbnail-yellow {
                fill: #9DA4AF;
            }
            .thumbnail-green {
                fill: #B9BEC6;
            }
            .thumbnail-blue {
                fill: #D5D8DD;
            }
            .thumbnail-note {
                fill: #22262A;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--MusicBand {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--MusicBand {
        stroke: #0078FF;
    }

    .Scene__path-line--MusicBand {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--MusicBand:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }
            .thumbnail-stripe {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-note {
                fill: #FFFFFF;
            }
        }
    }
}

/* Sketchpad */

.ProgramBlockEditor__character-column-character-container--Sketchpad {
    background-color: #4C9990;
}

.Scene__grid-line--Sketchpad {
    stroke: #F1F2F4;
}

.Scene__path-line--Sketchpad {
    stroke: #505862;
}

.WorldSelector__option-image--Sketchpad:hover {
    svg {
        .thumbnail-background {
            fill: #F1AE5B;
        }
        .thumbnail-line {
            stroke: #546D79;
        }
    }
}

body.dark-theme {
    .Scene__grid-line--Sketchpad {
        stroke: #30444E;
    }

    .Scene__path-line--Sketchpad {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--Sketchpad:hover {
        svg {
            .thumbnail-background {
                fill: #F1AE5B;
            }
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Sketchpad {
        background-color: #9DA4AF;
    }

    .Scene__grid-line--Sketchpad {
        stroke: #D5D8DD;
    }

    .Scene__path-line--Sketchpad {
        stroke: #505862;
    }

    .WorldSelector__option-image--Sketchpad:hover {
        svg {
            .thumbnail-background {
                fill: #505862;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Sketchpad {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Sketchpad {
        stroke: #0078FF;
    }

    .Scene__path-line--Sketchpad {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Sketchpad:hover {
        svg {
            .thumbnail-dark {
                fill: #FFFFFF;
            }

            .thumbnail-light {
                fill: #1E1E1E;
            }

            .thumbnail-light-outline {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
        }
    }
}

/* Savannah */

.ProgramBlockEditor__character-column-character-container--Savannah {
    background-color: #FFE5B4;
}

.Scene__grid-line--Savannah {
    stroke: #F9F2EC;
}

.Scene__path-line--Savannah {
    stroke: #784234;
}

.WorldSelector__option-image--Savannah:hover {
    svg {
        .thumbnail-background {
            fill: #D37D12;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Savannah {
        background-color: #505862;
    }

    .Scene__grid-line--Savannah {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Savannah {
        stroke: #505862;
    }

    .WorldSelector__option-image--Savannah:hover {
        svg {
            .thumbnail-background {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Savannah {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Savannah {
        stroke: #0078FF;
    }

    .Scene__path-line--Savannah {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Savannah:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline-white {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline-black {
                fill: #FFFFFF;
            }

            .thumbnail-character-innerline-white {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }

            .thumbnail-character-innerline-black {
                fill: #FFFFFF;
                stroke: #1E1E1E;
            }

            .thumbnail-character-part {
                fill: #000000;
                stroke: #FFFFFF;
            }
        }
    }
}

/* Space */

.ProgramBlockEditor__character-column-character-container--Space {
    background-color: #1B2432;
}

.Scene__grid-line--Space {
    stroke: #8BA2C0;
}

.Scene__path-line--Space {
    stroke: #F1AE5B;
}

.WorldSelector__option-image--Space:hover {
    svg {
        .thumbnail-background {
            fill: #33717F;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Space {
        background-color: #505862;
    }

    .Scene__grid-line--Space {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Space {
        stroke: #3A3F46;
    }

    .WorldSelector__option-image--Space:hover {
        svg {
            .thumbnail-background {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Space {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Space {
        stroke: #0078FF;
    }

    .Scene__path-line--Space {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Space:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }

            .thumbnail-background-item {
                fill: #FFFFFF;
                stroke: #FFFFFF;
            }

            .thumbnail-character-outline {
                fill: #FFFFFF;
            }

            .thumbnail-character-innerline {
                fill: #1E1E1E;
            }
        }
    }
}

/* Sports */

.ProgramBlockEditor__character-column-character-container--Sports {
    background-color: #22343C;
}

.Scene__grid-line--Sports {
    stroke: #B0B988;
}

.Scene__path-line--Sports {
    stroke: #FFC86F;
}

.WorldSelector__option-image--Sports:hover {
    svg {
        .thumbnail-background {
            fill: #165C61;
        }
        .thumbnail-trophy {
            fill: #FAB74B;
        }
        .thumbnail-trophy-shadow {
            fill: #ED972C;
        }
        .thumbnail-medal-ribbon {
            fill: #C13925;
        }
        .thumbnail-medal-ribbon-stripe {
            fill: #D5D8DD;
        }
        .thumbnail-medal {
            fill: #22343C;
        }
        .thumbnail-podium {
            fill: #0F2328;
        }
        .thumbnail-podium-circles {
            fill: #ED972C;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Sports {
        background-color: #505862;
    }

    .Scene__grid-line--Sports {
        stroke: #B9BEC6;
    }

    .Scene__path-line--Sports {
        stroke: #FFFFFF;
    }

    .WorldSelector__option-image--Sports:hover {
        svg {
            .thumbnail-background {
                fill: #9DA4AF;
            }
            .thumbnail-trophy {
                fill: #67717E;
            }
            .thumbnail-trophy-shadow {
                fill: #505862;
            }
            .thumbnail-medal-ribbon {
                fill: #B9BEC6;
            }
            .thumbnail-medal-ribbon-stripe {
                fill: #67717E;
            }
            .thumbnail-medal {
                fill: #F1F2F4;
            }
            .thumbnail-podium {
                fill: #3A3F46;
            }
            .thumbnail-podium-circles {
                fill: #9DA4AF;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Sports {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Sports {
        stroke: #0078FF;
    }

    .Scene__path-line--Sports {
        stroke: #FF0000;
    }

    .WorldSelector__option-image--Sports:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }
            .thumbnail-trophy {
                fill: #FFFFFF;
            }
            .thumbnail-medal-ribbon {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-medal-ribbon-stripe {
                fill: #1E1E1E;
            }
            .thumbnail-medal {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-podium {
                fill: #FFFFFF;
            }
            .thumbnail-podium-circles {
                fill: #1E1E1E;
            }
        }
    }
}
