/* Camping */

.ProgramBlockEditor__character-column-character-container--Camping {
    background-color: #A3BA8B;
}

.Scene__grid-line--Camping {
    stroke: #8F8F8F;
}

.Scene__path-line--Camping {
    stroke: #FFC700;
}

.Scene__starting-grid-cell-point--Camping {
    fill: #FFC700;    
}

.WorldSelector__option-image--Camping:hover {
    svg {
        .thumbnail-background {
            fill: #67804C;
        }
        .thumbnail-fur-light {
            fill: #714503;
        }
        .thumbnail-fur-dark {
            fill: #3A2402;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Camping {
        background-color: #D3D3D3;
    }

    .Scene__grid-line--Camping {
        stroke: #8F8F8F;
    }

    .Scene__path-line--Camping {
        stroke: #FFFFFF;
    }

    .Scene__starting-grid-cell-point--Camping {
        fill: #FFFFFF;    
    }

    .WorldSelector__option-image--Camping:hover {
        svg {
            .thumbnail-background {
                fill: #8F8F8F;
            }
            .thumbnail-fur-light {
                fill: #605F5F;
            }
            .thumbnail-fur-dark {
                fill: #0F0F0F;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Camping {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Camping {
        stroke: #0078FF;
    }

    .Scene__path-line--Camping {
        stroke: #FF0000;
    }

    .Scene__starting-grid-cell-point--Camping {
        fill: #FF0000;    
    }

    .WorldSelector__option-image--Camping:hover {
        svg {
            .thumbnail-background {
                fill: #000000;
            }
            .thumbnail-fur-light {
                fill: #000000;
                stroke: #FFFFFF;
            }
            .thumbnail-fur-dark {
                fill: #FFFFFF;
            }
        }
    }
}

/* Landmarks */

.ProgramBlockEditor__character-column-character-container--Landmarks {
    background-color: #FFE5B4;
}

.Scene__grid-line--Landmarks {
    stroke: #F9F2EC;
}

.Scene__path-line--Landmarks {
    stroke: #784234;
}

.Scene__starting-grid-cell-point--Landmarks {
    fill: #784234;    
}

.WorldSelector__option-image--Landmarks:hover {
    svg {
        .thumbnail-background {
            fill: #BCA490;
        }
        .thumbnail-background-item-2 {
            fill: #CEAF95
        }
        .thumbnail-background-item {
            fill: #9C7D63;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Landmarks {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Landmarks {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Landmarks {
        stroke: #505862;
    }

    .Scene__starting-grid-cell-point--Landmarks {
        fill: #505862;    
    }

    .WorldSelector__option-image--Landmarks:hover {
        svg {
            .thumbnail-background {
                fill: #9DA0A6;
            }
            .thumbnail-background-item-2 {
                fill: #828892
            }
            .thumbnail-background-item {
                fill: #656B72;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Landmarks {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Landmarks {
        stroke: #0078FF;
    }

    .Scene__path-line--Landmarks {
        stroke: #FF0000;
    }

    .Scene__starting-grid-cell-point--Landmarks {
        fill: #FF0000;    
    }

    .WorldSelector__option-image--Landmarks:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }
            .thumbnail-background-item {
                fill: #FFFFFF;
            }
            .thumbnail-character-body {
                fill: #FFFFFF;
            }
            .thumbnail-character-eye {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
            .thumbnail-character-eye-pupil {
                fill: #FFFFFF;
            }
            .thumbnail-character-outline {
                fill: #1E1E1E;
            }
            .thumbnail-character-stripe {
                fill: #1E1E1E;
            }
            .thumbnail-character-wing {
                fill: #FFFFFF;
            }
        }
    }
}

/* DeepOcean */

.ProgramBlockEditor__character-column-character-container--DeepOcean {
    background-color: #1B2432;
}

.Scene__grid-line--DeepOcean {
    stroke: #8BA2C0;
}

.Scene__path-line--DeepOcean {
    stroke: #FFFFFF;
}

.Scene__starting-grid-cell-point--DeepOcean {
    fill: #FFFFFF;    
}

.WorldSelector__option-image--DeepOcean:hover {
    svg {
        .thumbnail-background {
            fill: #33717F;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--DeepOcean {
        background-color: #67717E;
    }

    .Scene__grid-line--DeepOcean {
        stroke: #FFFFFF;
    }

    .Scene__path-line--DeepOcean {
        stroke: #505862;
    }

    .Scene__starting-grid-cell-point--DeepOcean {
        fill: #505862;    
    }

    .WorldSelector__option-image--DeepOcean:hover {
        svg {
            .thumbnail-background {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--DeepOcean {
        background-color: #FFFFFF;
    }
    
    .Scene__grid-line--DeepOcean {
        stroke: #0078FF;
    }

    .Scene__path-line--DeepOcean {
        stroke: #FF0000;
    }

    .Scene__starting-grid-cell-point--DeepOcean {
        fill: #FF0000;    
    }

    .WorldSelector__option-image--DeepOcean:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }

            .thumbnail-character-innerline-white {
                fill: #1E1E1E;
            }

            .thumbnail-character-innerline-black {
                fill: #FFFFFF;
            }
        }
    }
}

/* Jungle */

.ProgramBlockEditor__character-column-character-container--Jungle {
    background-color: #FFE5B4;
}

.Scene__grid-line--Jungle {
    stroke: #F9F2EC;
}

.Scene__path-line--Jungle {
    stroke: #784234;
}

.Scene__starting-grid-cell-point--Jungle {
    fill: #784234;    
}

.WorldSelector__option-image--Jungle:hover {
    svg {
        .thumbnail-background {
            fill: #D37D12;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Jungle {
        background-color: #505862;
    }

    .Scene__grid-line--Jungle {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Jungle {
        stroke: #505862;
    }

    .Scene__starting-grid-cell-point--Jungle {
        fill: #505862;    
    }

    .WorldSelector__option-image--Jungle:hover {
        svg {
            .thumbnail-background {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Jungle {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Jungle {
        stroke: #0078FF;
    }

    .Scene__path-line--Jungle {
        stroke: #FF0000;
    }

    .Scene__starting-grid-cell-point--Jungle {
        fill: #FF0000;    
    }

    .WorldSelector__option-image--Jungle:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline-white {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline-black {
                fill: #FFFFFF;
            }

            .thumbnail-character-innerline-white {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }

            .thumbnail-character-innerline-black {
                fill: #FFFFFF;
                stroke: #1E1E1E;
            }

            .thumbnail-character-part {
                fill: #000000;
                stroke: #FFFFFF;
            }
        }
    }
}

/* Sketchpad */

.ProgramBlockEditor__character-column-character-container--Sketchpad {
    background-color: #4C9990;
}

.Scene__grid-line--Sketchpad {
    stroke: #F1F2F4;
}

.Scene__path-line--Sketchpad {
    stroke: #505862;
}

.Scene__starting-grid-cell-point--Sketchpad {
    fill: #505862;    
}

.WorldSelector__option-image--Sketchpad:hover {
    svg {
        .thumbnail-background {
            fill: #F1AE5B;
        }
    }
}

body.dark-theme {
    .Scene__grid-line--Sketchpad {
        stroke: #30444E;
    }

    .Scene__path-line--Sketchpad {
        stroke: #FFFFFF;
    }

    .Scene__starting-grid-cell-point--Sketchpad {
        fill: #FFFFFF;    
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Sketchpad {
        background-color: #9DA4AF;
    }

    .Scene__grid-line--Sketchpad {
        stroke: #D5D8DD;
    }

    .Scene__path-line--Sketchpad {
        stroke: #505862;
    }

    .Scene__starting-grid-cell-point--Sketchpad {
        fill: #505862;    
    }

    .WorldSelector__option-image--Sketchpad:hover {
        svg {
            .thumbnail-background {
                fill: #505862;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Sketchpad {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Sketchpad {
        stroke: #0078FF;
    }

    .Scene__path-line--Sketchpad {
        stroke: #FF0000;
    }

    .Scene__starting-grid-cell-point--Sketchpad {
        fill: #FF0000;    
    }

    .WorldSelector__option-image--Sketchpad:hover {
        svg {
            .thumbnail-background {
                fill: #FFFFFF;
            }

            .thumbnail-character-container {
                fill: #1E1E1E;
            }

            .thumbnail-character-outline {
                fill: #FFFFFF;
                stroke: #FFFFFF;
            }

            .thumbnail-character-innerline {
                fill: #1E1E1E;
                stroke: #FFFFFF;
            }
        }
    }
}

/* Space */

.ProgramBlockEditor__character-column-character-container--Space {
    background-color: #1B2432;
}

.Scene__grid-line--Space {
    stroke: #8BA2C0;
}

.Scene__path-line--Space {
    stroke: #F1AE5B;
}

.Scene__starting-grid-cell-point--Space {
    fill: #F1AE5B;    
}

.WorldSelector__option-image--Space:hover {
    svg {
        .thumbnail-background {
            fill: #33717F;
        }
    }
}

body.gray-theme {
    .ProgramBlockEditor__character-column-character-container--Space {
        background-color: #505862;
    }

    .Scene__grid-line--Space {
        stroke: #FFFFFF;
    }

    .Scene__path-line--Space {
        stroke: #3A3F46;
    }

    .Scene__starting-grid-cell-point--Space {
        fill: #3A3F46;    
    }

    .WorldSelector__option-image--Space:hover {
        svg {
            .thumbnail-background {
                fill: #3A3F46;
            }
        }
    }
}

body.contrast-theme {
    .ProgramBlockEditor__character-column-character-container--Space {
        background-color: #FFFFFF;
    }

    .Scene__grid-line--Space {
        stroke: #0078FF;
    }

    .Scene__path-line--Space {
        stroke: #FF0000;
    }

    .Scene__starting-grid-cell-point--Space {
        fill: #FF0000;    
    }

    .WorldSelector__option-image--Space:hover {
        svg {
            .thumbnail-background {
                fill: #1E1E1E;
            }

            .thumbnail-background-item {
                fill: #FFFFFF;
                stroke: #FFFFFF;
            }

            .thumbnail-character-outline {
                fill: #FFFFFF;
            }

            .thumbnail-character-innerline {
                fill: #1E1E1E;
            }
        }
    }
}
